@model IEnumerable<ProductViewModel>;

<!--features_items-->
<h2 class="title text-center">Features Items</h2>

@foreach (var productViewModel in Model)
{
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <a asp-action="ProductDetails" asp-route-id="@productViewModel.Id">
                        <img src="~/images/shop/@productViewModel.ImageUrl" alt=""/>
                        <h2>@productViewModel.Price.ToString("C")</h2>
                        <p>@productViewModel.Name</p>
                    </a>
                    <a class="btn btn-default add-to-cart" asp-controller="Cart" asp-action="AddToCart"
                       asp-route-id="@productViewModel.Id" asp-route-returnUrl="@Context.Request.Path">
                        <i class="fa fa-shopping-cart"></i>Add to cart
                    </a>
                </div>
                @*<div class="product-overlay">
                    <div class="overlay-content">
                        <h2>@productViewModel.Price.ToString("C")</h2>
                        <p>@productViewModel.Name</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                    </div>
                </div>*@
                @if (productViewModel.IsNew)
                {
                    <img src="~/images/home/new.png" class="new" alt="Новинка" />
                }
                else if (productViewModel.IsSale)
                {
                    <img src="~/images/home/sale.png" class="new" alt="Распродажа" />
                }
            </div>
            <div class="choose">
                <ul class="nav nav-pills nav-justified">
                    <li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                    <li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>
                </ul>
            </div>
        </div>
    </div>
}
