@model IEnumerable<CategoryViewModel>;

<h2>Category</h2>
<div class="panel-group category-products" id="accordian">
    @foreach (var categoryViewModel in Model)
    {
        if (categoryViewModel.ChildCategories.Any())
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordian" href="#@categoryViewModel.Name.ToLower()">
                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                            @categoryViewModel.Name
                        </a>
                    </h4>
                </div>
                <div id="@categoryViewModel.Name.ToLower()" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            @foreach (var childCategoryViewModel in categoryViewModel.ChildCategories)
                            {
                                <li>
                                    <a asp-controller="Catalog" asp-action="Shop" asp-route-CategoryId="@childCategoryViewModel.Id">
                                        @childCategoryViewModel.Name
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>

            continue;
        }

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a asp-controller="Catalog" asp-action="Shop" asp-route-CategoryId="@categoryViewModel.Id">
                        @categoryViewModel.Name
                    </a>
                </h4>
            </div>
        </div>
    }
</div><!--/category-products-->
