@model IEnumerable<WebStore.DomainNew.Dto.ProductDto>
@{
    ViewBag.Title = "Список товаров";
}

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
            
        <th>
            @Html.DisplayNameFor(model => model.Order)
        </th>
            
        @*<th>
            @Html.DisplayNameFor(model => model.CategoryId)
        </th>
            
        <th>
            @Html.DisplayNameFor(model => model.BrandId)
        </th>*@
            
        <th>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </th>
            
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var productItem in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => productItem.Id)
            </td>

            <td>
                @Html.DisplayFor(modelItem => productItem.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => productItem.Order)
            </td>

            @*<td>
                @Html.DisplayFor(modelItem => productItem.CategoryId)
            </td>

            <td>
                @Html.DisplayFor(modelItem => productItem.BrandId)
            </td>*@

            <td>
                @Html.DisplayFor(modelItem => productItem.ImageUrl)
            </td>

            <td>
                @Html.DisplayFor(modelItem => productItem.Price)
            </td>
        </tr>
    }
    </tbody>
</table>
