@model CartViewModel

@foreach (var item in Model.Items)
{
    <tr>
        <td class="cart_product">
            <a href=""><img src="~/images/shop/@item.Key.ImageUrl" alt=""></a>
        </td>
        <td class="cart_description">
            <h4>
                <a asp-controller="Catalog" asp-action="ProductDetails"
                   asp-route-id="@item.Key.Id">
                    @item.Key.Name
                </a>
            </h4>
            <p>Web ID: 1089772</p>
        </td>
        <td class="cart_price">
            <p>@item.Key.Price.ToString("C")</p>
        </td>
        <td class="cart_quantity">
            <div class="cart_quantity_button">
                <a class="cart_quantity_up" asp-controller="Cart" asp-action="AddToCart"
                   asp-route-id="@item.Key.Id" asp-route-returnUrl="@Context.Request.Path">+</a>
                <input class="cart_quantity_input" type="text" name="quantity" value="@item.Value" autocomplete="off" size="2">
                <a class="cart_quantity_down" asp-controller="Cart"
                   asp-action="DecrementFromCart" asp-route-id="@item.Key.Id">-</a>
            </div>
        </td>
        <td class="cart_total">
            <p class="cart_total_price">@((item.Value * item.Key.Price).ToString("C"))</p>
        </td>
        <td class="cart_delete">
            <a class="cart_quantity_delete" asp-controller="Cart"
               asp-action="RemoveFromCart" asp-route-id="@item.Key.Id">
                <i class="fa fa-times"></i>
            </a>
        </td>
    </tr>
}